* {
  margin: 0px;
  padding: 0px;
}

.top-section {
  background-color: rgb(47, 46, 46);
  height: auto;
  /* border: 1px solid red; */
  margin-top: -30px;
}
.top-section > div {
  display: flex;
  /* border: 1px solid red; */
  width: 87%;
  height: auto;
  margin: auto;
  background-color: rgb(47, 46, 46);
  gap: 0px;
}
/* .top-section > div {
  margin: auto;
  /* border: 1px solid blue; */
/* width: 95%;
  height: 90%;
  gap: 0px;
}  */
#top_sec-img {
  /* border: 1px solid red; */
  margin-top: 90px;
  height: 90%;
}
#top_sec-img > img {
  width: 100%;
  height: 80%;
  /* border: 1px solid red; */
}
#top_sec-details {
  margin-top: 100px;
  color: #ffffff;
  height: 100%;
  width: 100%;
  /* border: 1px solid teal; */
  padding: 0px 20px;
}
#top_sec-details > h1 {
  margin-top: 10px;
  /* border: 1px solid yellow; */
  margin: auto;
  margin-bottom: 20px;
  width: 80%;
  font-size: 60px;
  font-weight: 200;
  line-height: 79px;
  font-family: sans-serif;
  padding: 40px 0px;
}
#top_sec-details > p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 19px;
  line-height: 30px;
  /* border: 1px solid green; */
  width: 90%;
  margin: auto;
  margin-bottom: 50px;
  margin-left: 42px;
  padding: 0px 20px;
}
#top_sec-details > p > span {
  font-weight: 400;
  color: #fff;
  text-decoration: line-through;
}
#btn_promo {
  border: 3px solid #ffa1a1;
  width: 220px;
  height: 70px;
  margin-left: 60px;
  font-weight: 600;
  font-size: 20px;
  color: #ffa1a1;
  padding: 20px 20px;
  text-align: center;
  background-color: rgb(47, 46, 46);
  margin-bottom: 50px;
  transition-duration: 1s;
}
#btn_promo:hover {
  background-color: #ffa1a1;
  color: black;
}

/* Mid-Section-top */
#top_container {
  /* border: 1px solid red; */
  width: 80%;
  margin: auto;
  margin-top: 5%;
  text-align: center;
}
#top_header {
  /* border: 1px solid blue; */
  margin-bottom: 50px;
}
#top_header > h2 {
  text-align: center;
  font-size: 50px;
  color: #303030;
  padding: 40px;
  font-family: "barlow semi condensed", sans-serif;
  font-weight: 50;
}
#top_header > p {
  /* border: 1px solid yellow; */
  font-size: 18px;
  line-height: 28px;
  width: 75%;
  margin: auto;
  color: #7e7e7e;
  font-family: "source sans pro", sans-serif;
}
#process_details {
  /* border: 1px solid green; */
  margin: auto;
  height: auto;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 20%);
  justify-content: space-around;
}
#process_details > div {
  /* border: 1px solid black; */
  height: auto;
  margin: auto;
  margin-top: 30px;
  text-align: left;
}
.process_icon {
  filter: invert(10%) sepia(88%) saturate(7497%) hue-rotate(236deg)
    brightness(105%) contrast(113%);
  margin-bottom: 30px;
  padding-top: 20px;
}
.process_icon > img {
  height: 30px;
}
#process_details > div > h4 {
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 36px;
  font-family: "barlow semi condensed", sans-serif;
  font-weight: lighter;
}
#process_details > div > div > p {
  /* border: 1px solid blue; */
  color: #9c9c9c;
  width: 80%;
  font-family: "source sans pro", sans-serif;
  line-height: 28px;
  margin-bottom: 50px;
}
#process_details > div > span {
  margin-left: -20px;
  font-family: "source sans pro", sans-serif;
  padding: 20px 30px;
  font-weight: bold;
}
#process_details > div > span:hover {
  cursor: pointer;
  color: #0033ff;
}
#video1_container > video {
  /* border: 1px solid blue; */
  margin: auto;
  margin-left: 100px;
}

#landing_page-video1 > div {
  /* border: 1px solid black; */
  margin: auto;
  margin-top: 100px;
  width: 80%;
  /* align-items: center; */
}

/* get more customer section */
.getmorecustomer {
  /* border: 1px solid yellow; */
  width: 100%;
  height: auto;
}
#morecustomer-container {
  /* border: 1px solid red; */
  width: 80%;
  margin: auto;
  height: auto;
}
#morecustomer-container > div {
  /* border: 1px solid brown; */
  margin-bottom: 20%;
}
#morecustomer-container > div:nth-child(1) > p {
  /* border: 1px solid black; */
  margin: auto;
  width: 90%;
  text-align: center;
  color: #303030;
  line-height: 70px;
  font-size: 50px;
  font-family: "barlow semi condensed", sans-serif;
  font-weight: inherit;
  margin-top: 40px;
  margin-bottom: 20px;
  padding-top: 10px;
}
#morecustomer-container > div:nth-child(1) > p + p {
  width: 74%;
  margin: auto;
  color: #525151;
  /* text-decoration: none solid rgb(48, 48, 48); */
  font-family: "source sans pro", sans-serif;
  font-weight: 300;
  text-align: center;
  line-height: 28px;
  font-size: 18px;
  margin-bottom: 0.8rem;
}
#customer_container {
  /* border: 3px solid lime; */
  width: 100%;
  margin: auto;
  height: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, auto);
  gap: 20px;
}
#customer_container > div {
  margin: auto;
  width: 90%;
  padding-bottom: 70px;
  /* border: 3px solid red; */
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

#customer_container > div > div > img {
  /* border: 1px solid red; */
  width: 80%;
  margin-top: -120px;
  margin-left: 20px;
}
#more_title {
  /* border: 1px solid red; */
  font-weight: 400;
  font-size: 30px;
  line-height: 55px;
}
#customer_container > div > div > p {
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 20px;
  width: 87%;
  font-family: "source sans pro", sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}

#customer_container > div > div > p + p {
  margin-bottom: 70px;
  display: block;
  color: #757070;
  /* padding-bottom: 50px; */
}

#customer_container > div > span {
  /* border: 1px solid salmon; */
  padding: 10px 20px;
  color: #303030;
  margin-left: 10px;
  font-family: "source sans pro", sans-serif;
  font-weight: bold;
  font-size: 18px;
}
#customer_container > div > span:hover {
  cursor: pointer;
  color: #0033ff;
}

/* end of get more customer */

/* Director */

#director {
  /* border: 1px solid red; */
  height: auto;
  margin-top: -170px;
  padding: 70px;
  background-color: #f3f1ee;
}
.director_container {
  /* border: 1px solid blue; */
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 20% 80%);
  grid-auto-rows: auto;
  gap: 10px;
  justify-content: space-between;
}
.director_container > div > img {
  width: 80%;
  height: 50%;
}
.director_container > div > blockquote {
  padding-top: 10px;
  /* border: 2px solid salmon; */
  width: 100%;
  font-family: "barlow semi condensed", sans-serif;
  font-size: 32px;
  line-height: 48px;
  text-align: left;
  color: #303030;
  margin-bottom: 40px;
}
.director_container > div > small > strong {
  font-family: "source sans pro", sans-serif;
  font-size: 23.5263px;
  font-weight: 700;
  color: #303030;
}
.director_container > div > small {
  font-family: "source sans pro", sans-serif;
  line-height: 27px;
  font-size: 23.5263px;
  color: #383838;
  margin-bottom: 20px;
}
.director_container > div > small + div > img {
  padding-top: 30px;
  width: 30%;
}
/* End of director section */

/* bottom section  */

#bottom_section {
  background-color: #0033ff;
  width: 100%;
  height: auto;
}
#bottom_container {
  color: #ffffff;
  /* border: 1px solid red; */
  width: 70%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-around;
  gap: 80px;
}
#bottom_container > div > h3 {
  font-family: "barlow semi condensed", sans-serif;
  font-size: 40px;
  line-height: 50px;
  text-align: left;
  font-weight: normal;
}
#bottom_container > div > p {
  font-family: "source sans pro", sans-serif;
  font-size: 18px;
  line-height: 28px;
  text-align: left;
  padding: 20px 0;
  font-weight: normal;
  /* border: 1px solid red; */
  width: 80%;
}
#bottom_container > div > button {
  font-family: "source sans pro", sans-serif;
  background-color: #0033ff;
  color: #ffffff;
  border: 2px solid white;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  line-height: 30px;
  padding: 20px;
  margin: 30px 0px;
}

#start::before {
  margin: 60px 0 60px 0;
  background-color: #ffa1a1;
  height: 7px;
  content: " ";
  width: 50px;
  display: block;
  /* margin: 0 auto 1.67rem; */
}


/* ....................................................................................................... */
/* get help section */
#gethelp-section {
  /* border: 2px solid saddlebrown; */
  height: auto;
  margin-bottom: 30px;
}
#gethelp_container {
  /* border: 1px solid red; */
  width: 85%;
  margin: auto;
  margin-bottom: 150px;
}
#gethelp_header {
  width: 80%;
  margin: auto;
  text-align: center;
  margin-top: 100px;
}
#gethelp_header > h4 {
  font-family: "barlow semi condensed", sans-serif;
  font-size: 56px;
  line-height: 86px;
  text-align: center;
  color: #303030;
  word-spacing: -5px;
  font-weight: normal;
  /* border: 1px solid blue; */
}
#gethelp_header > p {
  /* border: 1px solid fuchsia; */
  width: 90%;
  text-align: center;
  margin: auto;
  padding: 20px 50px;
  font-family: "source sans pro", sans-serif;
  font-size: 16px;
  font-weight: lighter;
  color: #666666;
  line-height: 28.08px;
}
#gethelp_content,
.advantages2-container {
  width: 95%;
  margin: auto;
  margin-left: 10px;
  display: grid;
  grid-template-columns: repeat(2, 55% 45%);
}
#gethelp {
  margin-top: 50px;
}
#icon-basket {
  /* border: 2px solid red; */
  margin-top: 20px;
}

#help_title {
  /* border: 1px solid blue; */
  margin-left: 80px;
  margin-top: -50px;
  font-size: 28px;
  line-height: 36px;
  text-align: left;
  font-family: "barlow semi condensed", sans-serif;
  font-weight: normal;
  text-decoration: none;
}
#help_title + p,
.help-masai {
  /* border: 1px solid red; */
  font-family: "source sans pro", sans-serif;
  font-size: 16px;
  font-weight: 100;
  line-height: 28px;
  text-align: left;
  margin: 0px 0px 0px 80px;
  padding: 30px 0px;
  color: #9c9c9c;
  width: 75%;
}


#gethelp > div > .adv-masai,
#advantagesdetails > div > .adv-masai {
  text-decoration: none;
  color: #080808;
  font-size: 20px;
  font-weight: 600;
}
#gethelp > div > .adv-masai:hover {
  color: #0033ff;
}
#advantages2 {
  /* border: 1px solid saddlebrown; */
  padding-bottom: 10%;
}

#adv_image_container > #adv-img-1 {
  width: 100%;
}
.advantages2-container {
  width: 80%;
  margin: auto;
}

#catalog {
  /* border: 1px solid red; */
  width: 80%;
  margin: auto;
  text-align: center;
}
#catalog_title {
  /* border: 1px solid blue; */
  font-family: "barlow semi condensed", sans-serif;
  font-size: 52px;
  line-height: 82px;
  text-align: center;
  font-weight: initial;
  color: #393939;
}
#catalog_details {
  margin: auto;
  font-family: "source sans pro", sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 28.08px;
  /* border: 1px solid purple; */
  width: 72%;
  padding: 20px;
  color: #666666;
}
#catalog_buttons {
  /* border: 1px solid green; */
  padding: 20px;
  display: grid;
  margin: auto;
  margin-top: 3%;
  margin-bottom: 5%;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  width: 90%;
}
#catalog_buttons > .cat-btn {
  border: 2px solid black;
  font-family: "source sans pro", sans-serif;
  font-size: 20px;
  font-weight: 100;
  line-height: 30px;
  color: black;
  padding: 20px 20px;
  cursor: pointer;
}

#catalog_buttons > .cat-btn:hover {
  background-color: #303031;
  color: #f9f8f7;
}



/* ................................................................................................. */
@media all and (min-width: 700px) and (max-width: 900px) {
  .top-section {
    width: 100%;
  }
  .top-section > div {
    display: block;
  }

  #process_details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 50%);
    justify-content: space-around;
  }
  #optimize {
    position: relative;
    left: 50%;
  }

  #customer_container {
    /* border: 3px solid lime; */
    width: 100%;
    margin: auto;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
  }
  #emailmarketing {
    position: relative;
    top: 18%;
    left: 50%;
  }

  #video1_container > video {
    /* border: 1px solid blue; */
    position: relative;
    left: -20%;
    width: 100%;
  }

  #director {
    margin-top: 30px;
  }
  .director_container {
    width: 100%;
  }

  #gethelp_video > video {
    position: relative;
    bottom: -10%;
    left: -50px;
    width: 100%;
    height: 100%;
  }

  #icon-basket {
    margin-left: -50px;
  }
  #help_title {
    margin-left: 10px;
  }

  #gethelp > div > a,
  #advantagesdetails > div > a,
  #help_title + p,
  a {
    font-size: 15px;
    margin-left: 0px;
  }

  #adv_image_container > img {
    margin-top: 40%;
    width: 100%;
    height: 80%;
  }

  #catalog_buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
  }

  #bottom_container {
    color: #ffffff;
    /* border: 1px solid red; */
    width: 70%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, auto);
    justify-content: space-around;
    gap: 80px;
  }
}


@media all and (min-width: 300px) and (max-width: 700px) {
  .top-section {
    width: 100%;
  }
  .top-section > div {
    display: block;
    margin-left: -5%;
  }
  #top_sec-img > img {
    margin-left: 50px;
  }
  #process_details {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, auto);
    justify-content: space-around;
  }

  #gethelp > div > a,
  #advantagesdetails > div > a,
  #help_title + p,
  a {
    font-size: 15px;
  }
  #customer_container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, auto);
  }
  #customer_container > div {
    margin-top: 60px;
  }
  #customer_container > div > p {
    font-size: 15px;
  }
  #video1_container > video {
    /* border: 1px solid blue; */
    margin-left: -5%;
    width: 100%;
  }
  #director {
    margin-top: 5%;
  }
  .director_container {
    display: block;
  }
  .director_container > div > blockquote {
    font-size: 18px;
    line-height: 30px;
  }
  .director_container > div > small + div > img {
    width: 100%;
  }

  #gethelp_content,
  .advantages2-container {
    width: 100%;
    margin: auto;
    margin-left: 0px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, auto);
  }
  #bottom_container {
    color: #ffffff;
    /* border: 1px solid red; */
    width: 70%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, auto);
    justify-content: space-around;
    gap: 80px;
  }

  #catalog_buttons {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, auto);
  }
}